// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #04395e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container1 {
  color: white;
  background-color: #d5896f;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #dab785;
  width: 75%;
  height: auto;
  text-align: center;
}

.container1:hover {
  border: 8px solid #dab785;
  background-color: #70a288;
  transition: 1.5s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}

.container1 img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 40px;
}

.container1 a {
  text-decoration: none;
  color: white;
}

.container1 ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.container1 li {
  padding: 32px;
}
